**/node_modules/
**/pdfs/
.*/**
**/*.js.map
**/*.js
!**/distribution/**/*.js.map
!**/distribution/**/*.js
!**/gulpfile.js
bin/**
obj/**/*.*
*.suo
**/*.orig
out/**
coverage/**
npm-debug.log
*.iml
logs
.idea
newrelic_agent.log
.idea_modules
.scannerwork
project/project
project/target
target
tmp
.cache
.settings
.DS_Store
workspace.xml
vcs.xml
dist
typings